<header class="bg-black text-white">
    <ul class="flex gap-3 justify-center flex-wrap">
        <li routerLink="/home" routerLinkActive="bg-blue-800 rounded-sm" class="hover:underline cursor-pointer">Home</li>
        <li routerLink="/map" routerLinkActive="bg-blue-800 rounded-sm" class="hover:underline cursor-pointer">Mapa</li>
        <li routerLink="/places" routerLinkActive="bg-blue-800 rounded-sm" class="hover:underline cursor-pointer">Lugares</li>
        <li routerLink="/la-experiencia" routerLinkActive="bg-blue-800 rounded-sm" class="hover:underline cursor-pointer">La Experiencia</li>
        <li routerLink="/dedicatorias" routerLinkActive="bg-blue-800 rounded-sm" class="hover:underline cursor-pointer">Dedicatorias</li>
    </ul>
</header>