<app-header class="sticky w-full"></app-header>

<div class="pb-6 md:grid md:grid-cols-2">
  <app-dedicatoria
    color="bg-teal-200"
    nombre="Rubén"
    texto="Este viaje a Londres y a los estudios de Harry Potter es un pequeño gesto para agradecerte por la magia que has traído a mi vida. Cada momento contigo es como un hechizo de amor y felicidad. Que este viaje llene tu corazón de aventuras y recuerdos tan maravillosos como los que me has regalado. Que tengas un feliz cumpleaños y Navidad. ¡Te quiero mucho!"
  ></app-dedicatoria>
  <app-dedicatoria color="bg-yellow-200" nombre="Néstor"></app-dedicatoria>
  <app-dedicatoria color="bg-blue-200" nombre="Adrián"></app-dedicatoria>
  <app-dedicatoria color="bg-slate-200" nombre="Jesús"></app-dedicatoria>
  <app-dedicatoria color="bg-pink-200" nombre="Miriam"></app-dedicatoria>
  <app-dedicatoria color="bg-purple-200" nombre="Eva"></app-dedicatoria>
  <app-dedicatoria color="bg-green-200" nombre="Rosa"></app-dedicatoria>
  <app-dedicatoria color="bg-blue-200" nombre="Patricia"></app-dedicatoria>
  <app-dedicatoria color="bg-yellow-200" nombre="Enrique"></app-dedicatoria>
  <app-dedicatoria color="bg-teal-200" nombre="Fátima"></app-dedicatoria>
</div>

<app-footer class="fixed bottom-0 w-full"></app-footer>
